<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="JarApplication">
    <option name="JAR_PATH" value="$PROJECT_DIR$/lib/spigot-1.12.2 (1).jar" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/run" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="BuildArtifacts" enabled="true">
        <artifact name="civcraft:jar" />
      </option>
      <option name="RunConfigurationTask" enabled="true" run_configuration_name="prepere run" run_configuration_type="KotlinStandaloneScriptRunConfigurationType" />
    </method>
  </configuration>
</component>